%section.container.my-3
  %h2 Sign In
  %hr
  = form_with model: resource, as: resource_name, url: session_path(resource_name) do |f|
    .mb-3
      = f.label :email, class: 'form-label'
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
    .mb-3
      = f.label :password, class: 'form-label'
      = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
    = f.submit 'Sign In', class: 'btn btn-primary'
