!!!
%html{ lang: I18n.locale }
  %head
    %title WAV3
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body
    %header
      %nav.navbar.navbar-dark.bg-dark.border-bottom
        .container-fluid
          = link_to root_path, class: 'navbar-brand px-2' do
            %i.fa-solid.fa-wave-square.text-primary
            WAV3
      #flash-container.container
        - flash.each do |variant, content|
          - variant = 'info' if variant.to_s == 'notice'
          - variant = 'danger' if variant.to_s == 'alert'
          = render layout: 'layouts/alert', locals: { variant: variant } do
            = content
    %main
      = yield
